Q.1.What is a database ? Differentiate between SQL and NoSQL databases.

Ans.A database is a structured collecton of data organized in a way that allows efficient storage ,retrieval and management of information .

SQL(Structured Query Language) databases are relational databases that store data in tabular form wiht predefined schemas .The use of SQL for data manipulation and querying ,providing powerful transaction support and ensuring data integrity .Example of SQL databases include MySQL ,PostSQL , and Oracle.

NoSQL databases ,on the other hand ,are nonrelational databases that store data in a various formats ,such as key value pairs,documents,graphs or columns.They are more flexible and scalable ,often used in bigdataand real time applications .NoSQL databases do not require a fixed schema ,making them suitable for handling unstructured or semi-structured data .Example for NoSQL databases include MongoDB ,Cassanda and Redis.

The main differemce b/w SQL and NoSQL databases lies in their data model ,shema flexibility and querying languages .SQL databases are more suited for applications with well  defiend schemas and complex queries ,while NoSQL databases are preferred for scenarios requiring scalabilty ,quick iteration and handling varying  data sructures

Q.2.What is DDL? Explain why CREATE, DROP, ALTER, and TRUNCATE are used with an example.

Ans. DDL stands for Data definition Language ,which is subset of SQL use to define and manage database structures .It deals with creating ,modifying and deleting database objects like tables ,indexes and costrants, Here, we have wexamples for DDL commands:

(a).Create: It is used to create new database objects like tables ,views,indexes,or schemas .For example "CREATE TABLE" is used to create a new table with specified columns  and data types.

(b).DROP: This commnad is used to remove existing database objects.For instance "DROP TABLE" deletes an entire table along with all its data.

(c).ALTER: ALTER is used to modify the stucture of an existing database object .With "ALTER TABLE" we can add ,modify or delete columns in a table , cahnge data type or add constraints.

(d).TRUNCATE: The TRUNCATE command is used to delete all the records from a table while presurving the table's structure .It is faster than the DELETE command as it does not generate indivisual row delete operations and is commonaly used when we want to remove all data from a table

Q.3. What is DML? Explain INSERT, UPDATE, and DELETE with an example.

Ans.DML satands for Data Manipulation Language ,which is another subset of SQL .DML is used to interact with the data stored inthe database ,allowing us to insert ,upate and delete records in table . Here we have the examples for DML commands :

(a).INSERT: The INSERT command is used to add new records into a table .It allows us to specify the values for each column or insert data from another table .Here is an example : we have an table called "Employees" with columns "EmployeeID", "FirstName" ,"LastName" and "Department" we want to insert a new employee:

In [ ]:
INSERT INTO Empoyees (EmployeeID, FirstName, LastName, Department)
VALUES (102, "Pranay Krishna", "Pranay", "Krishna" ,"DataScience");

This query data adds new record to the "Employees" table with specified EmployeeID ,FirstName ,LastName, and Department values.

(b).UPDATE: The UPDATE commamnd is used to modify existing records in a table .It aloows us to change the value of one or more columns based on specified conditions .Here we have an example:

lets update the department of an employee with EMployeeID 102

In [ ]:
UPDATE Employees
SET Department = "Data Analyst"
WHERE EmpoyeeID = 102;

the query update the Department value to "Data Analyst" for the employee with EmployID 102.

(c).DELETE: The DELETE command is used to remove records from a table based on specified conditions .It allows us to delete one or more rows that meet a particular criterion .Here we have an example:

Suppose we want to delete an employee with EmployeeID 102 from the "Employee" table:

In [ ]:
DELETES FROM Employees
WHERE EmployeeID = 102;

this query removes the employee with EmployeeID 102 from the "Employees" table

In summary ,DML commands (INSERT,UPDATE,DELETE) are used to manipulate the data within a database, enabling us to insert new records ,update existing ones ,or delete specific data based on specific conditions.

Q.4. What is DQL? Explain SELECT with an example.

Ans.DQL stands for Data Query Language , which is a subset of SQL .DQL is primarily used to retrive data from database .The most commnaly used DQL command is SELECT, which allows us to query data from one or more tables in the database .Here we have an example for the SELECT command .

Suppose we have a table named "Employees" with columns "EmployeeID", "FirstName","LastName", and "Department".

To retriev the names of all employees from "DataScience" department ,we would use the following SELECT statement:

SELECT FirstName, LastName
FROM Employees
WHERE Department = "DataScience"

this query will return "the FirstName" and "LastName" of all employees who belong to the "DtaScience" department from the "Employees "table

Q.5. Explain Primary Key and Foreign Key.

Ans. Primary key is a field or combination of field that uniquely iddentifies each record in a table .It ensures that each row has a unique value , and it's used to enforce data integrity and facilitate efficient data retrieval .Here we have an example of how to create a primary key.

In [ ]:
import sqlite3

conn = sqlite3.connect("my_database.db")
cursor = conn.curser()

cursor.execute('''
    CREATE TABLE students (
         id INTEGER PRIMARY KEY,
         name TEXT,
         age INTEGER
    )
''')

conn.comit()
conn.colse()

On other hand ,a foreign key is a field in one table that refers to the primary key in another table , it establishes a relation b/w the two tables ,enforcing referential integrity and enabling us to retrieve related data.Here  I am going to give an example, how to create a foreign key,

In [ ]:
import sqlite

conn = sqlite.connect("my_database.db")
cursor = conn.cursor()

cursor.exicute('''
    CREATE TABLE courses (
        course_id INTEGER PRIMARY KEY,
        course_name TEXT,
        student_id INTEGER,
        FOREIGN KEY (student_id) REFERENCES student (id)
    )
''')
conn.commit()
conn.close()

In this example ,the 'student_id' field in the 'courses'table is a foreign key that references the 'id' field in the 'students' table .This establises a link b/w the two tables based on the primary key and foreign key relationshiop.

Q.6.Write a python code to connect MySQL to python. Explain the cursor() and execute() method.

Ans. Here we have the code to connect MySQL to python

In [ ]:
import mysql.connector

mydb = mysql.connector.connect(
  host = "localhost",
  user = "xyz",
  password = "password"
)
print(mydb)
mycursor = mydb.cursor
mycursor.exicute("SHOW DATABASES")
for i in mycursor:
    print(i)

(a).cursor(): This method creats a cursor object that is used to interact with the database.The cursor is like a control structure that allows us to navigate and manipulate the data in the database.We can use this cursor object to exicute SQL queries and fetch details.

(b).exicute(): This method is used to exicute an SQL query on the database .We pass the SQL query as an argument to this method 
After exicuting the query ,we can use other cursor methods to retrieve and manipulate the results ,such as 'fetchone()', 'fetchall()' , and othrs.

Q.7. Give the order of execution of SQL clauses in an SQL query.

Ans.The order of execution of SQL clauses in a query generally follows these steps.

(a).FROM: The table specifieed in the 'FROM' clause are evaluated ,creating a temporary result set that combines the specified tables .

(b).JOIN: If there are any join clauses ,the specified joins are performed based on the conditions specified in the 'ON' clause .this step further modifies the temporary result set by combining rows from multiple tables .

(c).WHERE: This clause is used to filter rows fromthe temporary result set based on the specified conditions .

(d).GROUP BY: If a 'GROUP BY'  clause is present ,the result set is divided into groups based on the specified grouping columns .Aggregation function (eg: 'SUN','COUNT', etc) can it be applied to each group.

(e).SELECT : This very clause is used to specify the columns to be included in the rsult set.This step is performed after previous steps, so it operates on the modified result set.

(f).ORDER BY: The result set is sorted based on the columns specified in the 'ORDER BY' clause  .

(g).LIMIT/OFFSET: If limit and OFFSET are used ,they restrict the number of rows returned and specified the starting point in the result set .Th

These steps describe the logical order of exicution .The actual pysical execution might be optimized by the database management system(DBMS) to improve the performance.